@charset "UTF-8";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
     background-color: #AEFD6C;
     background-image: url('flowers.jpg');
     background-size: cover; /* or 'contain' based on your preference */
     background-position: center center;
     background-repeat: no-repeat;          
}
.container {
	width: 80%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 1, 0.5);
    background-color: #8080c0;
    text-align: center; /* Center the content */
    border:5px solid #800080;
    border-image:url('border2.jpg')30 stretch;
}
.container:hover{
	background-color:#808040;
}
h1 {
    font-weight: bold;
    text-align: center;
    color: #800080;
}